.gridWrapper{
    display: grid;
	grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
}
.gridTitle{
    display: flex;
    justify-content:space-around;
    font-size: 1.5rem;
    color: rgba(42, 81, 211, 0.89);
}